<footer class="footer">
    <div class="container">
        <p>&copy; 2024 BookTracker. Keep reading, keep growing! </p>
        <p>Developed by <a href="https://github.com/Adomakojohn" target="_blank">Adomako John</a></p>
        <p>book cover images are from <a href="https://openlibrary.org/" target="_blank">Open Library</a></p>
    </div>
</footer> 